{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    <link href="https://cdn.kde.org/aether-devel/bootstrap.css" rel="stylesheet"/>
    <link href="https://cdn.kde.org/aether-devel/aether-kde-org.css" rel="stylesheet"/>
  {% endblock %}
</head>
<body>
<header id="KGlobalHeader" class="header clearfix">
  <nav class="navbar navbar-expand-sm">
    <a aria-label="KDE Homepage" class="kde-logo navbar-brand active" href="/">Season of KDE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-3">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('connect_mykde') }}">Login</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('profile') }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('app_logout') }}">Logout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>

{% block header %}
{% endblock %}

<main class="container">
  {% for label, messages in app.flashes() %}
    {% for message in messages %}
      <div class="alert alert-{{ label }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}
  {% block body %}{% endblock %}
</main>
{% block javascripts %}
  <script src="https://cdn.kde.org/aether-devel/bootstrap.js"></script>
{% endblock %}
</body>
</html>
