{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block header %}
  <div class="bg-light py-3 mb-3 border-bottom">
    <div class="container">
      <div class="row col-md-10 mx-auto">
        <div class="col-auto">
            <img src="https://kde.org/stuff/clipart/logo/kde-logo-bluegradient-w-slug-vectorized.svg" alt="Season of KDE logo" style="min-width: 200px" />
        </div>
        <div class="col my-auto">
          <h2>Welcome to Season of KDE</h2>
          <h5>Season of KDE is an outreach program hosted by the KDE community.</h5>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
<style>
.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-line {
  position: absolute;
  width: 3px;
  height: 100%;
  left: 40px;
  margin-left: -2px;
  background: #54a3d8;
  z-index: 1;
}

.timeline-date {
  width: 80px;
  background: #54a3d8;
  color: white;
  padding: 6px;
  z-index: 2;
  border-radius: 3px;
}

.timeline-event {
  display: flex;
  z-index: 2;
}

.timeline-event:not(:first-child) {
  margin-top: 20px;
}

.timeline-content {
  margin-left: 20px;
  background-color: #eee;
  flex-basis: 100%;
  padding: 6px;
  border-radius: 3px;
}
</style>
  <h1>{{ season.title }}</h1>
  <div class="timeline">
    <div class="timeline-line"></div>
    <div class="timeline-events">
      <div class="timeline-event">
        <div class="timeline-date">{{ season.startTime|format_date('long', locale='en') }}</div>
        <div class="timeline-content">Start of {{ season.title }}</div>
      </div>
      <div class="timeline-event">
        <div class="timeline-date">{{ season.startTime|format_date('long', locale='en') }}</div>
        <div class="timeline-content">Deadline for the mentors and participants applications.</div>
      </div>
      <div class="timeline-event">
        <div class="timeline-date">{{ season.startTime|format_date('long', locale='en') }}</div>
        <div class="timeline-content">Projects announced</div>
      </div>
      <div class="timeline-event">
        <div class="timeline-date">{{ season.startTime|format_date('long', locale='en') }}</div>
        <div class="timeline-content">Start of work</div>
      </div>
      <div class="timeline-event">
        <div class="timeline-date">{{ season.startTime|format_date('long', locale='en') }}</div>
        <div class="timeline-content">End of work</div>
      </div>
      <div class="timeline-event">
        <div class="timeline-date">{{ season.startTime|format_date('long', locale='en') }}</div>
        <div class="timeline-content">Results announced</div>
      </div>
      <div class="timeline-event">
        <div class="timeline-date">{{ season.startTime|format_date('long', locale='en') }}</div>
        <div class="timeline-content">Certificates issues</div>
      </div>
      <div class="timeline-event">
        <div class="timeline-date">After the end</div>
        <div class="timeline-content">Merchandise and Swag sent out by courier.</div>
      </div>
    </div>
  </div>

  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Logged as {{ app.user.username }}</p>
  {% else %}
    <a href="{{ path('connect_mykde') }}">Login</a>
  {% endif %}
{% endblock %}
