{% extends 'base.html.twig' %}

{% block title %}Create mentor application{% endblock %}

{% block body %}
  <h1>Mentor application</h1>
  <p>You are involved in a KDE project and want to mentor new students. Submit your mentor application now!</p>
  {{ form(form) }}
{% endblock %}
